{% extends 'base.html' %}

{% block content %}
    <div class="my-songs-container">
        <h2>My Songs</h2>

        {% if songs %}
            <ul class="song-list">
                {% for song in songs %}
                    <li class="song-item">
                        <a href="{% url 'song details' song.pk %}" class="song-title">{{ song.title }}</a> 
                        by {{ song.artist }}
                        (<a href="{% url 'song edit' song.pk %}" class="edit-link">Edit</a> | 
                         <a href="{% url 'song delete' song.pk %}" class="delete-link">Delete</a>)
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't uploaded any songs yet.</p>
        {% endif %}
        
        <a href="{% url 'song create' %}" class="add-song-link">+</a>
    </div>
{% endblock %}
